body{
    margin: 0px
}
.navbar-container{
    display: flex;
    justify-content: space-around;
}
.navbar-container > a{
    background-color: rgb(0, 0, 0);
    color: gray;
    width: 25%;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-container>a:hover{
    background-color: gray;
    color: rgb(0, 0, 0);
    /*
    width: 20%;
    padding: 1%;
    */
}
.profile-container{
    display: flex;
    justify-content: center;
    padding: 25px 50px 0px;
}
.intro-container{
    text-align: center;
}
.intro-container h1{
    font-family: 'Water Brush', cursive;
    padding: 5px;
    margin: 2% 20%;
    font-size: 50px;
}
.intro-container h2{
    font-family: Poppins, sans-serif;
    margin: 5px 30% 10px;
    padding: 10px 5% 0%;
    font-size: 20px;
}
.intro-container p{
    font-family: Poppins, sans-serif;
    margin: 0px 20% 10px;
    padding-bottom: 10px;

}
hr{
    margin: 2% 20%;
}
.about-container{
    text-align: center;
    text-decoration: none;
    margin: 10px 15%;
    font-family: Poppins, sans-serif;
}
span{
    color: rgb(0, 84, 167);
}
.about-container a{
    text-decoration: none;
    color: black;
}
.about-container a:hover{
    color: rgb(0, 84, 167);
}